<% if current_user %>
  <div class="col-md-4">
    <h3>Ask a Question</h3>
    <%= simple_form_for(@question) do |f| %>
      <%= f.input :body, label_html: { class: "sr-only" } %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class="col-md-8" id="question-list">
    <h3>Submitted Questions</h3>
    <div id="questions">
        <%- @questions.each do |question| -%>
          <p>
          <% if question.votes.pluck(:user_id).include?(current_user.id) %>
            <%= link_to '+1', question_vote_path(question.id),method: :post, id: 'vote', class: "btn btn-default btn-xs disabled" %>
          <% else %>
            <%= link_to '+1', question_vote_path(question.id),method: :post, id: 'vote', class: "btn btn-default btn-xs" %>
          <% end %>
          <%= question.votes.count %>
          <%= question.body %>
          </p>
        <%- end -%>
    </div>
  </div>
<% else %>
  <div class="col-md-12">
    <h1><%= link_to "Sign in with GitHub", "/auth/github"%></h1>
  </div>
<% end %>

<script type="text/javascript">
  // setInterval(getStuff, 60000);
  // $ajax.get(theurl)
  // $(#questions).html(response)
</script>
