<% if current_user %>
  <h1>Questions</h1>

  <p>
    <%- if @questions != nil -%>
      <%- @questions.each do |question| -%>
        <%= question.content %>
        <%= link_to '+1', question_vote_path(question.id),method: :post, id: 'vote' %>
          <% if question.votes != nil %>
            <%= question.votes.count %>
          <%- end -%>
       <%- end -%>
    <%- end -%>
  </p>

  <%= simple_form_for(@question) do |f| %>
    <%= f.input :content, label: 'Question' %>
    <%= f.submit 'Submit' %>
  <% end %>
<% end %>

