<div class="col-md-12">
  <h3>Questions</h3>

  <div class="question-categories important-category">
    <h4>IMPORTANT <span class="question-state-definition">(&gt;7 votes)</span></h4>
    <div id="important-questions">
      <% @important_questions.each do |important_question| %>
        <p>(<%= important_question.votes.count %>
        <% if important_question.votes.count == 1 %>
          vote)
        <% else %>
          votes)
        <% end %>
        <%= important_question.body %></p>
      <% end %>
    </div>
  </div>

  <div class="question-categories sent-category">
    <h4>SENT <span class="question-state-definition">(&gt;5 votes)</span></h4>
    <div id="sent-questions">
      <% @sent_questions.each do |sent_question| %>
        <p>(<%= sent_question.votes.count %>
        <% if sent_question.votes.count == 1 %>
          vote)
        <% else %>
          votes)
        <% end %>
        <%= sent_question.body %></p>
      <% end %>
    </div>
  </div>

  <a href="#" id="change">Show "Asked" category</a>
  <div class="question-categories asked-category asked-category-js">
    <h4>ASKED</h4>
    <div id="asked-questions">
      <% @asked_questions.each do |asked_question| %>
        <p>(<%= asked_question.votes.count %>
        <% if asked_question.votes.count == 1 %>
          vote)
        <% else %>
          votes)
        <% end %> <%= asked_question.body %></p>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  setInterval(function(){getQuestions()},5000);
  function getQuestions()
  {
    $.get("api/questions", function(data){
      var importantStuff = '';
      var sentStuff = '';
      var askedStuff = '';
      var voteType = '';
      for(var i=0; i < data.questions.length; i++){
        if (data.questions[i].state == 'important'){
          if (data.questions[i].votes_count == 1){ voteType = " vote) " } else { voteType = " votes) " };
          importantStuff += "<p>("+ data.questions[i].votes_count + voteType + data.questions[i].body + "</p>"
          $("#important-questions").html(importantStuff);
        } else if (data.questions[i].state == 'sent'){
          if (data.questions[i].votes_count == 1){ voteType = " vote) " } else { voteType = "votes) " };
          sentStuff += "<p>("+ data.questions[i].votes_count + voteType + data.questions[i].body + "</p>"
          $("#sent-questions").html(sentStuff);
        } else if (data.questions[i].state == 'asked'){
          if (data.questions[i].votes_count == 1){ voteType = " vote) " } else { voteType = " votes) " };
          askedStuff += "<p>("+ data.questions[i].votes_count + voteType + data.questions[i].body + "</p>"
          $("#asked-questions").html(askedStuff);
        };
      }

    });
  }

$( "#change" ).click(function() {
    var $message = $( "#change" );
    var messageShow = 'Show "Asked" category'
    var messageHide = 'Hide "Asked" category'

    if ($message.text() === messageShow) {
      $(".asked-category-js").show();
      $message.text(messageHide)
    } else {
      $(".asked-category-js").hide();
      $message.text(messageShow)
    }
});

</script>
